:root {
  --primary: #de1a1a;
  --secondary: #e8ebf7;
  --tertiary: #070707;
  --quaternary: #f2dc5d;
  --quinary: #1d84b5;
}

.navbar-main {
  background-color: var(--quinary);
  color: white;
  padding: 15px;
}

.navmain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.custom-button {
  background-color: var(--primary);
  border-color: var(--tertiary);
  color: var(--secondary);
  margin: 0 20px;
  padding: 11px;
  font-size: larger;
  border-radius: 10px;
}

.custom-button:hover {
  background-color: var(--quaternary);
  color: var(--tertiary);
}

.nav-link {
  text-decoration: none;
  color: white;
}

.right-buttons {
  display: flex;
}

.center-buttons {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) {
}
