/* reset.css */

/* Reset box model */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}

/* Add your custom styles below */
