:root {
  --primary: #de1a1a;
  --secondary: #e8ebf7;
  --tertiary: #070707;
  --quaternary: #f2dc5d;
  --quinary: #1d84b5;
}

.health-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.search-bar {
  display: flex;
  flex-flow: column wrap;
}

.results-box {
  background-color: var(--quaternary);
  padding: 10px;
}
